/* Variable & Main body */
body {
    margin-top: 50px;
    --num-display-height: 100px;
    --calc-width: 600px;
    --button-width: 100px;
    --button-height: 100px;
    --btn-text: rgba(255, 37, 37);
    --btn-bg: rgb(255, 236, 236);
    --border-color: rgb(255, 0, 0);
    background-color: rgba(255, 180, 180, 0.5);
}

/* Main sections */
.title, .display {
    color: var(--btn-text);
    text-align: center;
    padding-bottom: 2rem;
    font-size: xx-large;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: default;
}

.display, .button {
    border: solid 4px;
    border-color: var(--border-color);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0rem 0.3rem 0.3rem rgba(0, 0, 0, 0.5);
    background-color: var(--btn-bg);
    width: var(--calc-width);

}

.display {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    display: block;
    height: var(--num-display-height);
}

#num-display {
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: var(--num-display-height);
}

/* Main Calculator Scetion */
table {
    margin: 20px 20px;
    margin-left: auto;
    margin-right: auto;
    transition: all 1s;
}

th {
    padding: 3px;
}

button {
    width: var(--button-width);
    height: var(--button-height);
    cursor: pointer;
}

.numbtn {
    border: solid 5px var(--btn-text);
    border-radius: 20px;
    background-color: var(--btn-text);
    color: var(--btn-bg);
    font-weight: 800;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.2s;
}

.opbtn, .resbtn {
    border: solid 5px var(--btn-text);
    border-radius: 20px;
    background-color: var(--btn-bg);
    color: var(--btn-text);
    font-weight: 1000;
    font-size: xx-large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    transition: all 0.2s;
}

.numbtn:hover, .opbtn:hover, .resbtn:hover {
    box-shadow: 0.1rem 0.2rem 0.4rem rgba(0, 0, 0, 0.7);
}

.numbtn:hover {
    color: var(--btn-text);
    background-color: var(--btn-bg);
}

.opbtn:hover, .resbtn:hover {
    color: var(--btn-bg);
    background-color: var(--btn-text);
}